.main-container {
  height: 100%;

  .nav-list {
    margin: 0;
    list-style-type: none;
    padding: 100px 0 0 0;
  }

  .nav-list > li {
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;

  }

  .active-list {
    background-color: green;
  }

  mat-sidenav {
    width: 200px;
  }

  .main-header {
    width: calc(100% - 40px);
    height: 70px;
    box-shadow: 0px 0px 7px rgba(0, 7, 36, 0.17);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}
