<ng-template [ngIf]="!isLoading">
  <div class="product-container">
    <ng-container *ngFor="let product of productList;let i = index">
      <mat-card class="product-card">
        <div routerLink="../product/{{product.id}}" class="cursor-pointer">
          <mat-card-header>
            <div mat-card-avatar>
              <img class="card-image" [src]="product.image">
            </div>
            <mat-card-title class="product-title" matTooltip="{{product.name}}"
                            [matTooltipPosition]="'above'">{{product.name}}</mat-card-title>
            <mat-card-subtitle>Movie</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <b>Year of Release : </b><span>{{product.yearOfRelease}}</span>
            </p>
            <p>
              <b>Amount : </b><span>{{product.amount | currency:"₹"}}</span>
            </p>
            <p>
              <b>Quantity remaining : </b><span>{{product.quantity > 0 ? product.quantity : 'Sold Out'}}</span>
            </p>
          </mat-card-content>
        </div>
        <mat-card-actions>
          <button mat-button color="primary"
                  [color]="product.isAddedToWishList?'warn':'primary'"
                  (click)="addToWishList(product,i)">{{product.isAddedToWishList ? 'Remove from wishList' : 'Add to wish List'}}</button>
          <button mat-button [color]="product.isaddedTocart?'warn':'primary'"
                  (click)="addToCart(product,i)">{{product.isaddedTocart ? 'Remove from cart' : 'Add to cart'}}</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
  <mat-paginator [pageSizeOptions]="[6, 12, 18, 24]"></mat-paginator>
</ng-template>
<ng-template [ngIf]="isLoading">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
