.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .product-card {
    width: calc(30% - 20px);
    margin: 10px;

    .card-image {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }

    .product-title {
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (max-width:568px) {
    .product-card{
      width: 100%;
    }
  }
}




